<div class="mx-auto mt-10 w-1/2">

  <!-- password strength -->
<!-- create custom directive -->
  <input class="py-3" type="password" #pwStrength= "strengthValue" appPasswordStrength placeholder="password" class="mt-5" h >
  <div class="my-5" *ngIf="pwStrength.strengthValue" id="password-strength" class="strength-{{pwStrength.strengthValue}}" ><span></span></div> 
<!-- <h1>{{pwStrength.strengthValue}}</h1> -->
  <!-- create custom directive end -->
 <br>
  <button class="py-5 bg-blue-300 rounded w-1/2 mb-5" (click)="addUser()" >Add user</button>

  <div class="bg-green-300 p-10 my-5 rounded-md" *ngFor="let item of users">
   <!-- transform kore onno fromat a return kore otay pipe -->
    <p>create : {{item?.created_date }}</p>
    <p>name : {{item?.name | uppercase }}</p>
    <!-- <p>age : {{ calculateAge(item?.date) }}</p> -->
    <p>age : {{ item?.date | calculateAge }}</p>

  
  </div>

  <h2>child</h2>
  <app-child (onLikeEvent)="handlelike($event)" [datasend]= "title" ></app-child>
</div>